#annotation-app {
  width: 400px;
}

.dropdown-button {
  position: relative;
  border: 0.5px solid #d8d8d8;
  background-color: white;
  padding: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.dropdown-things {
  display: flex;
  flex-direction: column;
  width: 40px;
}

.dropdown-option {
  position: absolute;
  z-index: 1;
  margin-top: 25px;
  margin-left: -2px;
  border: 1px solid grey;
  width: 40px;
  display: flex;
  flex-direction: column;
}

.dropdown-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  background-color: white;
  border-top: 1px solid grey;
}

.dropdown-button--selected {
  background-color: cyan;
}

.color-option {
  width: 20px;
  height: 20px;
}

.color-option--selected {
  border: 1px solid black;
}

.hidden-input {
  opacity: 0;
}

.edit-mode--selected {
  background-color: cyan;
  color: white;
}

.history-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.export-button {
  background-color: rgb(67, 187, 184);
  color: #f8f8f8;
  border: none;
  border-radius: 4px;
  padding: 10px;
}

.button-group {
  display: flex;
  align-items: center;
  border: 1px solid rgb(67, 187, 184);
  border-radius: 4px;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #f8f8f8;
  padding: 10px;
}
