body {
  margin: 0;
  font-family: sans-serif;
}

* {
  user-drag: none;
  user-select: none;
  -webkit-user-select: none;
}

button:active, button:focus, button:hover {
  outline: 1px solid rgb(230, 230, 230);
}

.annotation-app {
  display: flex;
}

.controls {
  width: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #f8f8f8;
  padding: 5px 0;
}

.columns {
  display: flex;
  flex-wrap: wrap;
}

.drawing-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border: 1px solid rgb(230, 230, 230);
  background-color: white;
  margin: 3px;
  height: 30px;
  width: 30px;
  color: #555;
}

.drawing-button--spotlight {
  padding: 0;
}

.drawing-button--selected {
  background-color: rgb(230, 230, 230);
  border: 1px solid rgb(230, 230, 230);
}

.offscreen-canvas {
  display: none;
}

.image-edit {
  padding: 10px;
  position: relative;
  border-right: 1px solid rgb(230, 230, 230);
}

image {
  pointer-events: none;
}

.dropdown-things {
  display: flex;
  position: relative;
}

.dropdown-options {
  position: absolute;
  top: 57%;
  left: 69%;
  border-radius: 1px;
  overflow: hidden;
  height: 30px;
  display: flex;
  z-index: 2;
  -webkit-box-shadow: 0 0 10px #d8d8d8;
  box-shadow: 0 0 10px #d8d8d8;
  background-color: white;
}

.dropdown-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 1px solid transparent;
  background-color: white;
  height: 30px;
  width: 30px;
  margin-left: 1px;
  color: #555;
}

.dropdown-button--spotlight {
  padding: 0;
}

.dropdown-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  background-color: white;
  width: 20px;
}

.dropdown-button--selected {
  background-color: rgb(230, 230, 230);
  border: 1px solid rgb(230, 230, 230);
}

.navigation-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.history-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.save-button {
  background-color: rgb(230, 230, 230);
  color: #555;
  border: none;
  padding: 10px 5px;
  font-size: 8px;
}

.cancel-button {
  background-color: rgb(250, 250, 250);
  color: #555;
  border: none;
  border-radius: 4px;
  padding: 10px 5px;
  font-size: 8px;
}

.flip {
  transform: scaleX(-1);
}

.history-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: none;
  background-color: white;
  color: #555;
  width: 30px;
  height: 30px;
  margin: 3px;
}

.history-button:disabled {
  border-color: transparent;
  box-shadow: none;
  cursor: not-allowed;
  color: #ddd;
}

.image-selector {
  display: flex;
  max-width: 700px;
  flex-wrap: wrap;
}

.image-option {
  padding: 10px;
  border: 1px solid rgb(230, 230, 230);
  background-color: white;
  margin: 3px;
  cursor: pointer;
  position: relative;
}

.image-option > img {
  width: 200px;
  height: auto;
}

.image-option:hover > .image-edit-pencil {
  display: block;
}

.image-edit-pencil {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
}

.drawing {
  position: absolute;
  top: 10px;
  left: 10px;
}

.text-box {
  position: absolute;
  opacity: 0;
  background-color: transparent;
}

.text-box--edit {
  opacity: 1;
  z-index: 2;
}

.text-box-container {
  position: absolute;
}

.text-box-textarea {
  border: 1px solid #dedede;
  background-color: transparent;
  resize: none;
  outline: none;
  overflow: hidden;
  color: currentColor;
  font-size: inherit;
}

.pointerCursor {
  cursor: pointer;
}

.crosshairCursor {
  cursor: crosshair;
}

.northWestCursor {
  cursor: nwse-resize;
}

.northEastCursor {
  cursor: nesw-resize;
}

.moveCursor {
  cursor: move;
}

.corner-arrow {
  position: absolute;
  bottom: 2px;
  right: 2px;
}

.droparea {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.info-text {
  position: absolute;
  z-index: 2;
  padding: 10px;
}

.goat-time {
  display: flex;
}

.goat-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 1px solid rgb(230, 230, 230);
  background-color: white;
  font-size: 18px;
  margin-left: 3px;
  height: 40px;
}


.annotation-menu {
  position: fixed;
  z-index: 4;
  background-color: white;
}

.annotation-menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
}

.annotation-menu__item {
  overflow: hidden;
}

.annotation-menu__item:hover {
  background-color: rgb(230, 230, 230);
  color: white;
}

.annotation-menu__item:first-child {
  border-radius: 4px 4px 0 0;
}

.annotation-menu__item:last-child {
  border-radius: 0 0 4px 4px;
}

.annotation-menu__button {
  width: 100%;
  border: 0px;
  background-color: inherit;
  text-align: left;
  padding: 5px;
  color: inherit;
  cursor: pointer;
}

.annotation-menu__button:disabled {
  background: #eee;
  color: black;
  cursor: not-allowed;
}

.modal-mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.hidden {
  visibility: hidden;
}

.image-selector-page {
  padding: 10px;
}

.no-images-page {
  padding: 10px;
}
