.annotation-app {
  width: 520px;
}

.offscreen-canvas {
  display: none;
}

.image-edit {
  padding: 10px;
  position: relative;
}

.image-to-annotate {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.dropdown-things {
  display: flex;
  border-left: 1px solid rgb(67, 187, 184);
}

.dropdown-option {
  position: absolute;
  margin-top: 31px;
  margin-left: -2px;
  border: 1px solid rgb(67, 187, 184);
  border-radius: 4px;
  overflow: hidden;
  width: 50px;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.dropdown-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: none;
  background-color: white;
}

.dropdown-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  background-color: white;
  width: 20px;
}

.dropdown-button--selected {
  background-color: rgb(67, 187, 184);
}

.hidden-input {
  opacity: 0;
}

.edit-mode--selected {
  background-color: rgb(67, 187, 184);
  color: white;
}

.history-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.export-button {
  background-color: rgb(67, 187, 184);
  color: #f8f8f8;
  border: none;
  border-radius: 4px;
  padding: 10px;
}

.button-group {
  display: flex;
  align-items: center;
  border: 1px solid rgb(67, 187, 184);
  border-radius: 4px;
  overflow: hidden;
}

.dropdown-things:first-of-type {
  border-left: none;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f8f8f8;
  padding: 10px;
}

.flip {
  transform: scaleX(-1);
}

.history-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: none;
  background-color: white;
  color: grey;
  cursor: pointer;
}

.image-selector {
  display: flex;
}

.image-option {
  padding: 10px;
  border: 2px solid rgb(67, 187, 184);
}

.image-option:first-of-type {
  border-right: none;
}

.drawing {
  position: absolute;
  top: 0;
  left: 0;
}

.text-box--edit {
  position: absolute;
}
