body {
  margin: 0;
}

* {
  user-drag: none;
  user-select: none;
}

button:active, button:focus, button:hover {
  outline: 1px solid rgb(230, 230, 230);
}

.annotation-app {
  display: flex;
}

.controls {
  width: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #f8f8f8;
  padding: 5px 0;
}

.columns {
  display: flex;
  flex-wrap: wrap;
}

.drawing-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 1px solid rgb(230, 230, 230);
  background-color: white;
  margin: 3px;
  height: 30px;
  width: 30px;
}

.drawing-button--selected {
  background-color: rgb(230, 230, 230);
  border: 1px solid rgb(230, 230, 230);
}

.drawing-button--alternate {
  border: 1px solid rgb(250, 111, 199);
}

.offscreen-canvas {
  display: none;
}

.image-edit {
  padding: 10px;
  position: relative;
  border-right: 1px solid rgb(230, 230, 230);
}

.image-to-annotate {
}

.dropdown-things {
  display: flex;
}

.dropdown-options {
  position: absolute;
  margin-left: 40px;
  margin-top: 3px;
  border-radius: 1px;
  overflow: hidden;
  height: 30px;
  display: flex;
  z-index: 2;
  -webkit-box-shadow: 0 0 10px #d8d8d8;
  box-shadow: 0 0 10px #d8d8d8;
  background-color: white;
}

.dropdown-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 1px solid transparent;
  background-color: white;
  height: 30px;
  width: 30px;
  margin-left: 1px;
}

.dropdown-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  background-color: white;
  width: 20px;
}

.dropdown-button--selected {
  background-color: rgb(230, 230, 230);
  border: 1px solid rgb(230, 230, 230);
}

.history-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.save-button {
  background-color: rgb(230, 230, 230);
  color: #555;
  border: none;
  border-radius: 4px;
  padding: 10px 5px;
  font-size: 8px;
}

.cancel-button {
  background-color: rgb(250, 250, 250);
  color: #555;
  border: none;
  border-radius: 4px;
  padding: 10px 5px;
  font-size: 8px;
}


.flip {
  transform: scaleX(-1);
}

.history-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: none;
  background-color: white;
  color: #555;
  width: 30px;
  height: 30px;
  margin: 3px;
}

.history-button:disabled {
  border-color: transparent;
  box-shadow: none;
  cursor: not-allowed;
  color: #ddd;
}

.image-selector {
  display: flex;
}

.image-option {
  padding: 10px;
  border: none;
  background-color: white;
  margin: 3px;
  cursor: pointer;
  position: relative;
}

.image-option:hover > .image-edit-pencil {
  display: block;
}

.image-edit-pencil {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
}

.image-option:first-of-type {
  border-right: none;
}

.drawing {
  position: absolute;
  top: 10px;
  left: 10px;
}

.text-box {
  position: absolute;
  opacity: 0;
  background-color: transparent;
}

.text-box--edit {
  opacity: 1;
  z-index: 2;
}

.text-box-container {
  position: absolute;
}

.text-box-textarea--unselected {
}

.text-box-textarea {
  border: 1px solid #dedede;
  background-color: transparent;
  resize: none;
  outline: none;
  overflow: hidden;
  color: currentColor;
}

.pointerCursor {
  cursor: pointer;
}

.crosshairCursor {
  cursor: crosshair;
}

.resizeCursor {
  cursor: nwse-resize;
}

.moveCursor {
  cursor: move;
}

.corner-arrow {
  position: absolute;
  bottom: 2px;
  right: 2px;
}
